*{
  margin:0px;
}
body{
  display: flex;
  flex-direction: column;
}
/* FIRST SECTION */
#section1{
  background:url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-3-Mobile-LHD-v2.jpg) no-repeat;
  background-size: cover;
  height: 669px;
  
}
#header{
  display: flex;
  justify-content: space-evenly;
  align-items:center;
  width: 100%;
  position: fixed;
}
#logo{
  width:30%;
  padding-right: 130px;
}
#menu-btn{
  padding:2% 3%;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  background: url("/imgs/output-onlinepngtools (1).png");
}
.content{
  display: flex;
  flex-direction: column;
  margin-top:90px;
}
.content h1{
  font-weight: 500;
}
.content h3{
  font-weight:400;
  margin-top: 10px;
}
.content h5{
  font-weight: 500;
  margin-top: 10px;
  color: #6E708A;
}
#order-btn{
  margin-top: 300px;
}
#order-btns{
  margin-top:310px;
}
#demo-btn{
  margin-top: 15px;
  color: whitesmoke;
  background-color:#2C2C31;
}
.btn{
  width: 90%;
  height: 5%;
  border: none;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 3px;
}

/* SECOND SECTION */
#section2{
  background:url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-Y-Mobile-Global.jpg") no-repeat;
  background-size: cover;
  height: 650px;
}
.con2{
  margin-top:80px;
}
/* Section 3 */
#section3{
  background:url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-X-Mobile-v2.jpg") no-repeat;
  background-size: cover;
  height: 650px;
}
#section4{
  background:url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-S-Mobile-v2.jpg") no-repeat;
  background-size: cover;
  height: 650px;
}
#section4 h1{
  color: ghostwhite;
}
#section4 h3{
  color: ghostwhite;
}
#section4 h5{
  color: whitesmoke;
}

/* Section 5*/
#special-font{
  height: 17%;
  margin-top:20%;
}
#section5{
  background:url("https://digitalassets.tesla.com/discovery-tesla-com/image/upload/f_auto,q_auto/Homepage-Cybertruck-Mobile.jpg") no-repeat;
  background-size: cover;
  height: 650px;
}
#order-buttn, #demo-buttn{
  background-color: #212123;
  color: whitesmoke;
}
#order-buttn{
  border-top: 2px solid whitesmoke;
  margin-top:280px;
  font-size: 13px;
}
#demo-buttn{
  margin-top: 15px;
  font-size: 13px;
}


@media screen and (min-width:768px){
  html{
    font-size:40px;
  }
  #logo{
    padding-right: 9rem;
  }
  #section1,#section2,#section3,#section4,#section5{
    height:46rem;
  }
  .content{
    margin-top:30%;
  }
  #header{
    display: flex;
    justify-content: space-around;
    align-items:center;
    width: 100%;
    padding:0 0.5rem 0 0.5rem;
    position: fixed;
  }
  #order-btn{
    margin-top:22rem;
    border-radius: 10px;
  }
  #order-buttn{
    font-size: 0.8rem;
    margin-top: 20rem;
  }
  #demo-buttn{
    font-size:0.8rem;
  }
  #order-btns{
    margin-top:21rem;
  }
}
