*{
  margin:0px;
}
body{
  display: flex;
  flex-direction: column;
}
/* FIRST SECTION */
#section1{
  background:url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-3-Mobile-LHD-v2.jpg) no-repeat;
  background-size: cover;
  height: 669px;
  
}
#header{
  display: flex;
  justify-content: space-between;
  padding:5px 10px 0px 10px;
  align-items:center;
  height: 60px;
  position: fixed;
}
#logo{
  width:130px;
  padding-right: 130px;
}
#menu-btn{
  padding:8px 18px;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  background: url("/imgs/output-onlinepngtools (1).png");
}
.content{
  display: flex;
  flex-direction: column;
  margin-top:60px;
}
.content h1{
  font-weight: 500;
}
.content h3{
  font-weight:400;
  margin-top: 10px;
}
.content h5{
  font-weight: 500;
  margin-top: 10px;
  color: #6E708A;
}
#order-btn{
  margin-top: 300px;
}
#order-btns{
  margin-top:330px;
}
#demo-btn{
  margin-top: 15px;
  color: whitesmoke;
  background-color:#2C2C31;
}
.btn{
  width: 300px;
  height: 40px;
  border: none;
  font-weight: 500;
  font-size: 15px;
  border-radius: 5px;
}

/* SECOND SECTION */
#section2{
  background:url("imgs/Homepage-Model-Y-Mobile-Global.jpg") no-repeat;
  background-size: cover;
  height: 650px;
}
.con2{
  margin-top:80px;
}
/* Section 3 */
#section3{
  background:url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-X-Mobile-v2.jpg") no-repeat;
  background-size: cover;
  height: 650px;
}
#section4{
  background:url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-S-Mobile-v2.jpg") no-repeat;
  background-size: cover;
  height: 650px;
}
#section4 h1{
  color: ghostwhite;
}
#section4 h3{
  color: ghostwhite;
}
#section4 h5{
  color: whitesmoke;
}

/* Section 5*/
#special-font{
  height: 130px;
  margin-top:80px;
}
#section5{
  background:url("https://digitalassets.tesla.com/discovery-tesla-com/image/upload/f_auto,q_auto/Homepage-Cybertruck-Mobile.jpg") no-repeat;
  background-size: cover;
  height: 650px;
}
#order-buttn, #demo-buttn{
  background-color: #212123;
  color: whitesmoke;
}
#order-buttn{
  border-top: 2px solid whitesmoke;
  margin-top:270px;
  font-size: 13px;
}
#demo-buttn{
  margin-top: 15px;
  font-size: 13px;
}
